# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# env variables
.env

# Virtual Environment
venv/
env/

# Django
db.sqlite3


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# logs
*.log